@font-face {
    font-family: 'Monument Grotesk';
    src: url(../fonts/Monument_Grotesk1.woff2) format('woff');
}

@font-face {
    font-family: 'AktivGrotesk';
    src: url(../fonts/Monument_Grotesk2.woff2) format('woff');
}