.container {
    overflow: hidden;

    .title-area {
        @include tb {
            display: block !important;
        }

        .title-wrap {
            position: relative;
            width: auto;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

        }

        .title {
            color: #fff;
            font-family: "Pretendard",
                sans-serif;
            font-weight: normal;
            font-size: 9vw;
            line-height: 9vw;
            -webkit-font-smoothing: antialiased;
            -webkit-transform: translateY(10vh);
            transform: translateY(10vh);
            opacity: 0;

            &.fill {
                color: #fff;
                font-weight: normal;
                font-size: 6vw;
                line-height: 6vw;
                font-weight: bold;
                -webkit-font-smoothing: antialiased;
            }

            &.stroke {
                -webkit-text-stroke: 2px #fff;
                color: transparent;
                font-weight: bold;
            }
        }

        .desc {
            @include m {
                font-size: 16px;
                line-height: 16px;
                margin-top: 16px;
            }
        }
    }

    .listItem {
        position: relative;
    }

    .linkCont {
        display: block;
        background: #d1ed5d;
        cursor: none;

        picture {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &+.git-link {
            display: block;
            position: absolute;
            right: 15px;
            top: 15px;
            width: 40px;
            height: 40px;
            z-index: 10;

            @include tb {
                width: 30px;
                height: 30px;
                right: 10px;
                top: 10px;
            }

            @include m {
                width: 4vw;
                height: 4vw;
                right: 5px;
                top: 5px;
            }

            &.black svg {
                fill: #000;
            }

            svg {
                width: 100%;
                height: 100%;
                fill: #fff;

            }
        }
    }

    .info {
        position: absolute;
        bottom: 0;
        left: 50px;
        width: 100%;
        z-index: 5;
        transition: opacity 0.35s ease-in-out 0s;
        text-align-last: left;
        transform: translateY(50%);
        opacity: 0;

        @include m {
            left: 25px;
        }

        &.black {
            h3 {
                color: #111;
            }
        }

        h3 {
            color: #fff;
            font-family: "Monument Grotesk";
            font-weight: normal;
            font-size: 3vw;
            line-height: 3vw;
            display: inline-block;
            text-indent: -5px;

            @include tb {
                text-indent: 0;
                font-size: 2vw;
            }

            @include m {
                font-size: 3vw;
            }
        }

        h4 {
            color: #d1ed5d;
            font-family: "Monument Grotesk";
            font-weight: normal;
            font-size: 24px;
            line-height: 24px;
            margin-top: 10px;

            @include tb {
                font-size: 20px;
                margin-top: 5px;
            }

            @include m {
                font-size: 18px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                margin-top: 0;
            }


            .mouseHoverDown {
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0%;
                    width: 0%;
                    left: 0;
                    height: 2px;
                    background-color: #d1ed5d;
                    transition: width 0.35s ease-in-out 0s;
                }

                &:hover::before {
                    width: 100%;
                }
            }
        }

        .tag-box {
            display: flex;
            gap: 10px;
            z-index: 4;
            margin-top: 10px;
            flex-wrap: wrap;

            @include tb {
                display: none;
            }

            .tag {
                display: inline-block;
                font-size: 16px;
                color: #fff;
                font-weight: 300;
            }
        }
    }

    .sc-visual {
        position: relative;
        margin-top: calc(30vh - 8vw);
        z-index: 6;

        .inner {
            width: 75vw;
            padding: 0;
            margin: 0 auto;
        }

        .title-area {

            .title {
                font-size: 8vw;
                line-height: 8vw;

                @include m {
                    font-size: 9vw;
                    line-height: 9vw;
                }

                &:last-child {
                    -webkit-text-stroke: 2px #d1ed5d;
                    color: transparent;
                }
            }
        }

        .desc {
            color: #fff;
            width: 28.125vw;
            font-family: "Pretendard", "sans-serif";
            font-weight: normal;
            font-size: 30px;
            line-height: 40px;
            margin-top: 20vh;
            margin-bottom: 5vh;

            @include tb {
                margin-top: 40vh;
                width: 100%;
                font-size: 24px;
                line-height: 35px;
            }

            @include m {
                margin-top: 30vh;
                width: 100%;
                font-size: 20px;
                line-height: 30px;
            }
        }

        .img-wrap {
            position: absolute;
            top: 5vh;
            left: 40vw;
            width: 31.25vw;
            height: 46.875vw;
            display: block;
            z-index: -1;
            overflow: hidden;
            background-color: #d1ed5d;

            picture {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .sc-selected {
        margin-top: 12.5vw;

        .title-area {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;

            .title {
                &.fill {
                    line-height: 9vw;
                }
            }
        }

        .desc {
            position: relative;
            display: block;
            color: #d1ed5d;
            font-family: "Monument Grotesk";
            font-weight: normal;
            font-size: 24px;
            line-height: 24px;
            text-transform: uppercase;
            -webkit-font-smoothing: antialiased;
            transform: translateY(10vh);

            @include tb {
                font-size: 20px;
                line-height: 20px;
                margin-top: 15px;
            }

            @include m {
                font-size: 16px;
                line-height: 16px;
            }
        }

        .select-top {
            margin: 12.5vw 0;

            @include tb {
                margin: 20vw 0 12.5vw;
            }

            @include m {
                margin: 25vw 0;
            }

            .inner {
                position: relative;
                width: 87.5vw;
                margin: 0vw auto;

                @include m {
                    width: 100%;
                }

                .full {
                    margin: 12.5vw 0;

                    @include m {
                        margin: 25vw 0 12.5vw;
                    }
                }

                .linkCont {

                    img,
                    video {
                        width: 100%;
                        height: 650px;
                        object-fit: cover;

                        @include tb {
                            height: 50vw;
                        }

                        // @include m {
                        //     height: 50vw;
                        // }
                    }
                }
            }
        }

        .select-bottom {
            margin: 6.25vw 0;

            .inner {
                .group-area {
                    position: relative;
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-gap: 6.25vw;
                    gap: 6.25vw;
                    width: 100%;
                    height: auto;
                }

                .listItem {

                    &:first-child {
                        margin-top: 6.25vw;
                    }

                    &:last-child {
                        margin-top: 12.5vw;
                    }

                    .content {
                        position: relative;

                        .linkCont {
                            position: relative;
                            padding-bottom: 130%;

                            picture {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                            }

                            img {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                filter: brightness(1);
                            }
                        }

                        .info {
                            left: -1.875vw;
                        }
                    }
                }
            }
        }

        .two-cols {
            position: relative;
            width: 100vw;
            height: auto;
            margin: 12.5vw 0 6.25vw 0;
            box-sizing: border-box;
            display: flex;

            @include m {
                margin-bottom: 0;
            }

            .group-area {
                position: relative;
                width: 100%;
                height: auto;
                display: grid;
                grid-template-columns: 6.25vw auto auto 6.25vw;
                grid-gap: 6.25vw;
                gap: 6.25vw;

                .listItem {
                    position: relative;
                    width: 100%;
                    height: auto;

                    &:first-child {
                        margin-top: 6.25vw;
                        grid-column: 2/span 1;
                    }

                    &:last-child {
                        grid-column: 3/span 1;
                    }

                    .content {
                        position: relative;
                        width: 100%;
                        height: auto;
                        text-decoration: none;
                        display: block;

                        .linkCont {
                            position: relative;
                            padding-bottom: 130%;

                            picture {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                            }

                            img {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }

                    .info {
                        @include tb {
                            left: 20px;
                        }

                        @include m {
                            left: 10px;
                        }
                    }
                }
            }
        }
    }

    .sc-framework {
        position: relative;
        width: 100vw;
        height: auto;
        margin: 6.25vw 0;

        @include m {
            margin-top: 0;
        }

        .inner {
            display: flex;
            flex-direction: column;
            gap: 12.5vw;
        }

        .title-area {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            .desc {
                position: relative;
                display: block;
                color: #d1ed5d;
                font-family: "Monument Grotesk";
                font-weight: normal;
                font-size: 24px;
                line-height: 24px;
                text-transform: uppercase;
                -webkit-font-smoothing: antialiased;
                transform: translateY(10vh);
                text-align: right;

                @include tb {
                    font-size: 20px;
                    line-height: 20px;
                    margin-top: 15px;
                }

                @include m {
                    font-size: 16px;
                    line-height: 16px;
                }
            }
        }

        .one-cols {
            @include tb {
                margin-top: 10vw;
            }

            @include m-sm {
                margin-top: 20vw;
            }

            .group-area {
                position: relative;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 6.25vw;
                gap: 6.25vw;
                width: 100%;
                height: auto;
            }

            .listItem {
                position: relative;

                &:first-child {
                    margin-top: 6.25vw;

                    img {
                        object-position: 97.5%;
                    }
                }

                &:last-child {
                    margin-top: 12.5vw;
                }

                .content {
                    position: relative;

                    .linkCont {
                        position: relative;
                        padding-bottom: 130%;

                        picture {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                        }

                        img {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .info {
                        left: -1.875vw;
                    }
                }
            }
        }

        .two-cols {
            .group-area {
                position: relative;
                width: 100%;
                height: auto;
                display: grid;
                grid-template-columns: 6.25vw auto auto 6.25vw;
                grid-gap: 6.25vw;
                gap: 6.25vw;
            }

            .listItem {
                position: relative;
                width: 100%;
                height: auto;

                &:first-child {
                    margin-top: 6.25vw;
                    grid-column: 2/span 1;
                }

                &:last-child {
                    grid-column: 3/span 1;
                }

                .content {
                    position: relative;
                    width: 100%;
                    height: auto;
                    text-decoration: none;
                    display: block;

                    .linkCont {
                        position: relative;
                        padding-bottom: 130%;

                        picture {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                        }

                        img {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .info {
                        @include tb {
                            left: 20px;
                        }

                        @include m {
                            left: 10px;
                        }
                    }
                }
            }
        }

        .three-col {
            @include m {
                margin-top: 10vw;
            }

            .inner {
                padding: 0;
            }

            .listItem {
                position: relative;
                width: 75vw;
                margin: 0 auto;

                @include tb {
                    width: 100%;
                }
            }

            .img-wrap {
                img {
                    width: 100%;
                    height: 650px;
                    object-fit: cover;

                    @include tb {
                        height: auto;
                    }

                    // @include m {
                    //     height: 50vw;
                    // }
                }
            }
        }
    }

    .sc-introduce {
        position: relative;
        width: 100vw;
        height: 100vh;
        text-align: left;
        padding-bottom: 0;

        @include tb {
            display: flex;
            height: 90vh;
        }

        @include m {
            height: 75vh;
        }

        @include m-sm {
            height: 50vh;
        }

        .inner {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            gap: 4rem;

            @include m {
                gap: 0;
            }
        }

        .text-big {
            color: #fff;
            font-family: "Pretendard",
                sans-serif;
            font-weight: normal;
            font-size: 4vw;
            line-height: 4.75vw;
            transform: translateY(50%);
        }

        .text-scroll {
            position: relative;
            padding-top: 7rem;

            @include tb {
                padding-top: 0;
            }

            a {
                position: relative;
                display: block;
                color: #d1ed5d;
                font-family: "Monument Grotesk";
                font-weight: normal;
                font-size: 24px;
                line-height: 24px;
                text-transform: uppercase;
                -webkit-font-smoothing: antialiased;
                transform: translateY(10vh);
                text-decoration: none;

                @include m {
                    font-size: 14px;
                    line-height: 14px;
                }
            }
        }
    }

    .sc-textslide {
        position: relative;
        width: 100vw;
        height: auto;
        margin-bottom: 12.5vw;
        text-align: right;
        padding-bottom: 0;

        .title-area {
            .title {
                font-family: "Pretendard",
                    sans-serif;
                font-size: 5vw;
                font-weight: 700;
                -webkit-text-stroke: 2px #6d6d6d;
                color: transparent;
                font-weight: bold;
                line-height: 7vw;
            }
        }

        .inner {
            position: relative;

            .content {
                margin-top: 12.5vw;

                @include m {
                    margin-top: 25vw;
                }

                img,
                video {
                    width: 100%;
                    height: 650px;
                    object-fit: cover;

                    @include tb {
                        height: auto;
                    }

                    // @include m {
                    //     height: 50vw;
                    // }
                }
            }
        }
    }

    .sc-marquee {
        overflow: hidden;
        padding-top: 9.375vw;

        @include m {
            margin-top: 25vw;
        }

        .horizontal-marquees {
            font-size: 10vw;
            line-height: 10vw;
            color: transparent;
            -webkit-text-stroke: 2px #fff;
            -webkit-font-smoothing: antialiased;
            white-space: nowrap;
            font-family: "Pretendard",
                sans-serif;
            font-weight: bold;
        }

        .one {
            display: inline-flex;
            transform: translateX(-50%);
        }

        .two {
            display: inline-flex;
            transform: translateX(-50%);

            .horizontal-marquees {
                color: white;
                font-family: "Pretendard",
                    sans-serif;
                font-size: 10vw;
                font-weight: bold;
            }
        }

        .three {
            display: inline-flex;
            transform: translateX(-60%);
        }
    }

    .sc-insights {
        .title-area {
            position: relative;
            width: 100%;
            height: auto;
            padding-bottom: 3.125vw;

            .title-wrap {
                padding-top: 9.375vw;
            }

            .title {
                &.fill {
                    @include m {
                        line-height: 9vw;
                    }
                }
            }
        }

        .insights-list {
            position: relative;
            width: 100%;
            height: auto;
            padding-top: 9.375vw;
            box-sizing: border-box;
            display: grid;
            grid-template-columns: repeat(4, minmax(0, 100%));

            @include tb {
                grid-template-columns: repeat(2, 1fr);
                text-align: center;
                padding-top: 25vw;
            }

            @include m {
                padding-top: 35vw;
            }

            @include m-sm {
                padding-top: 25vw;
            }

            li {
                position: relative;
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;

                p {
                    color: #fff;
                    font-family: "Monument Grotesk";
                    font-weight: normal;
                    font-size: 3rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;

                    @include tb {
                        font-size: 5vw;
                    }
                }

                .text-wrap {
                    position: relative;
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;

                    h3 {
                        position: relative;
                        color: transparent;
                        font-family: "Monument Grotesk";
                        font-weight: normal;
                        font-size: 8vw;
                        -webkit-font-smoothing: antialiased;
                        -webkit-text-stroke: 2px #d1ed5d;

                        span {
                            transition: opacity 3s;
                            opacity: 0;

                            &.opacity {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }

    .text-scroll {
        position: relative;

        a {
            position: relative;
            display: block;
            color: #d1ed5d;
            font-family: "Monument Grotesk";
            font-weight: normal;
            font-size: 24px;
            line-height: 24px;
            text-transform: uppercase;
            transform: translateY(10vh);
            text-decoration: none;
        }
    }

    .cursor {
        position: fixed;
        bottom: 20px;
        right: 80px;
        width: 20px;
        height: 20px;
        background-color: #d1ed5d;
        border-radius: 100%;
        z-index: 50;
        backface-visibility: hidden;
        user-select: none;
        pointer-events: none;
        transition-property: background-color, width, height;
        transition-duration: .3s;

        &.scale {
            width: 40px;
            height: 40px;

            @include m {
                width: 20px;
                height: 20px;
            }
        }

        &.on {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 110px;
            height: 110px;
            background-color: transparent;
            border: 2px solid #d1ed5d;

            @include m {
                width: 75px;
                height: 75px;
            }

            .pointer {
                opacity: 0;
            }

            .view {
                opacity: 1;
                border-radius: 50%;

                @include m {
                    font-size: 10px;
                }
            }
        }

        @include m {
            display: none;
        }

        .pointer {
            position: absolute;
            width: 15px;
            height: 15px;
            top: 50%;
            left: 50%;
            fill: #fff;
            transform: translate(-50%, -50%);
        }

        .view {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-transform: uppercase;
            -webkit-font-smoothing: antialiased;
            opacity: 0;
            font-size: 12px;
        }
    }
}

.state {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    --width: 0%;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: var(--width);
        height: 100%;
        background: #d1ed5d;
        content: '';
    }
}