.header {
    .inner {}

    .logo-wrap {
        position: fixed;
        left: 0;
        width: 100vw;
        z-index: 50;
        top: 0;
        // top: -10vh;
        transition: top 0.5s ease-in-out 0s;

        .logo {
            position: absolute;
            top: 5vh;
            left: 6.25vw;
            transform: translateY(-50%);
            height: 40px;
            width: auto;
        }

        .logo-link {
            img {}
        }
    }

    .gnb {}
}