@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
       text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  list-style: none;
}

body {
  background: #000;
  color: #fff;
  font-family: "Monument Grotesk", "Pretendard", sans-serif;
}
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-thumb {
  background-color: #d1ed5d;
}
body::-webkit-scrollbar-track {
  background-color: transparent;
  position: absolute;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
}

.wrapper {
  position: relative;
  cursor: none;
}

.inner {
  position: relative;
  width: 100vw;
  margin: 0 auto;
  padding: 0 6.25vw;
}

@font-face {
  font-family: "Monument Grotesk";
  src: url(../fonts/Monument_Grotesk3.woff2) format("woff");
}
@font-face {
  font-family: "AktivGrotesk";
  src: url(../fonts/Monument_Grotesk2.woff2) format("woff");
}
.footer {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
}
@media (max-width: 767px) {
  .footer {
    height: 75vh;
  }
}
@media (max-width: 480px) {
  .footer {
    height: 50vh;
  }
}
.footer .group-area {
  position: absolute;
  top: 50%;
  left: 6.25vw;
  width: 87.5vw;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 50;
}
@media (max-width: 767px) {
  .footer .group-area {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}
.footer .group-area .mail {
  position: relative;
}
.footer .group-area .mail a {
  display: block;
}
.footer .group-area .mail a .linkFoot {
  position: relative;
  display: inline-block;
}
.footer .group-area .mail a .linkFoot.linkFoot-top span {
  -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}
.footer .group-area .mail a .linkFoot.linkFoot-bottom p {
  -webkit-text-stroke: 2px #d1ed5d;
}
.footer .group-area .mail a .linkFoot.linkFoot-bottom span {
  color: #d1ed5d;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
.footer .group-area .mail a .linkFoot.on span {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  transition: clip-path 0.5s ease-out 0s, -webkit-clip-path 0.5s ease-out 0s;
}
.footer .group-area .mail a .linkFoot p {
  color: transparent;
  font-family: "Monument Grotesk";
  font-weight: normal;
  font-size: 7.5vw;
  -webkit-text-stroke: 2px #fff;
  text-decoration: none;
  -webkit-transition: -webkit-clip-path 1s;
  transition: -webkit-clip-path 1s;
  transition: clip-path 1s;
  transition: clip-path 1s, -webkit-clip-path 1s;
  display: block;
}
.footer .group-area .mail a .linkFoot span {
  color: #fff;
  font-family: "Monument Grotesk";
  font-weight: normal;
  font-size: 7.5vw;
  position: absolute;
  top: 0;
  left: 0;
  transition: clip-path 0.5s ease-out 0s, -webkit-clip-path 0.5s ease-out 0s;
}
.footer .credits {
  position: absolute;
  bottom: 5vh;
  right: 6.25vw;
  overflow: hidden;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}
@media (max-width: 767px) {
  .footer .credits {
    left: 6.25vw;
    right: auto;
  }
}
.footer .credits .credits-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer .credits .credits-area > p {
  color: #fff;
  font-family: "Monument Grotesk";
  font-weight: normal;
  font-size: 27px;
  position: relative;
}
@media (max-width: 1024px) {
  .footer .credits .credits-area > p {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .footer .credits .credits-area > p {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .footer .credits .credits-area > p {
    font-size: 14px;
  }
}
.footer .credits .credits-area > p sub {
  top: -0.5em;
  margin-left: 3px;
  vertical-align: baseline;
  font-size: 75%;
  position: relative;
}
.footer .credits .credits-area .credits-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer .credits .credits-area .credits-container p {
  position: relative;
  color: #fff;
  font-family: "Monument Grotesk";
  font-weight: normal;
  font-size: 27px;
  position: relative;
}
@media (max-width: 1024px) {
  .footer .credits .credits-area .credits-container p {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .footer .credits .credits-area .credits-container p {
    font-size: 14px;
  }
}
.footer .credits .credits-area .credits-container p.divider {
  margin-left: 5px;
  margin-right: 5px;
}
.footer .social-footer {
  position: absolute;
  bottom: 5vh;
  left: 6.25vw;
  overflow: hidden;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}
@media (max-width: 767px) {
  .footer .social-footer {
    bottom: 10vh;
  }
}
.footer .social-footer .social-footer-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer .social-footer .social-footer-area p {
  position: relative;
  color: #d1ed5d;
  font-family: "Monument Grotesk";
  font-weight: normal;
  font-size: 27px;
  position: relative;
}
@media (max-width: 1024px) {
  .footer .social-footer .social-footer-area p {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .footer .social-footer .social-footer-area p {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .footer .social-footer .social-footer-area p {
    font-size: 14px;
  }
}
.footer .social-footer .social-footer-area p.divider {
  margin-left: 5px;
  margin-right: 5px;
}
.footer .social-footer .social-footer-area p a {
  text-decoration: none;
  color: #d1ed5d;
}
.footer .social-footer .social-footer-area p a:hover::before {
  width: 100%;
}
.footer .social-footer .social-footer-area p a::before {
  content: "";
  position: absolute;
  bottom: 0%;
  width: 0%;
  left: 0;
  height: 2px;
  background-color: #d1ed5d;
  -webkit-transition: width 0.35s ease-in-out 0s;
  transition: width 0.35s ease-in-out 0s;
}

.header {
  position: relative;
}
.header .inner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 25;
}
.header .logo-wrap {
  position: fixed;
  left: 0;
  width: 100vw;
  z-index: 50;
  top: 7vh;
  -webkit-transition: top 0.5s ease-in-out 0s;
  transition: top 0.5s ease-in-out 0s;
}
.header .logo-wrap .logo {
  position: absolute;
  left: 6.25vw;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 40px;
  width: auto;
}
@media (max-width: 1024px) {
  .header .logo-wrap .logo {
    left: 3vw;
  }
}
.header .logo-wrap .logo-link {
  display: block;
  width: 64px;
  height: 40px;
}
.header .gnb {
  position: absolute;
  top: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
  visibility: hidden;
}
@media (max-width: 1024px) {
  .header .gnb {
    display: none;
  }
}
.header .gnb.on {
  top: 5vh;
  -webkit-transform: translate(0%);
          transform: translate(0%);
  opacity: 1;
  visibility: visible;
}
.header .gnb.main {
  left: 25vw;
}
.header .gnb.sub {
  left: 37.5vw;
}
.header .gnb .list .item {
  margin-bottom: 5px;
}
.header .gnb .list .item .link {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-family: "Monument Grotesk";
  font-weight: normal;
  font-size: 16px;
  text-transform: uppercase;
}
.header .gnb .list .item .link:hover::before {
  width: calc(100% + 12px);
}
.header .gnb .list .item .link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -6px;
  width: 0%;
  height: 2px;
  background-color: #d1ed5d;
  -webkit-transition: width 0.35s ease-in-out 0s;
  transition: width 0.35s ease-in-out 0s;
}
.header .group-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 5vh;
  right: 3vw;
}
@media (max-width: 1024px) {
  .header .group-time {
    top: 4.5vh;
    right: 1vw;
  }
}
.header .group-time .time-wrap {
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -0.2em;
  margin-bottom: -0.2em;
  letter-spacing: 0.02em;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.7;
}
@media (max-width: 1024px) {
  .header .group-time .time-wrap {
    font-size: 1em;
    margin-bottom: -0.1em;
  }
}
.header .group-time .time-wrap em {
  width: 2.6em;
}
.header .group-time .time-wrap .time {
  width: 4.5em;
}
.header .group-time .time-wrap .dot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1.35em;
  height: 1.35em;
}
.header .group-time .time-wrap .dot .circle {
  width: 0.5em;
  height: 0.5em;
  background-color: #d1ed5d;
  border-radius: 50%;
}

.container {
  overflow: hidden;
}
@media (max-width: 1024px) {
  .container .title-area {
    display: block !important;
  }
}
.container .title-area .title-wrap {
  position: relative;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.container .title-area .title {
  color: #fff;
  font-family: "Pretendard", sans-serif;
  font-weight: normal;
  font-size: 9vw;
  line-height: 9vw;
  -webkit-font-smoothing: antialiased;
  -webkit-transform: translateY(10vh);
  transform: translateY(10vh);
  opacity: 0;
}
.container .title-area .title.fill {
  color: #fff;
  font-weight: normal;
  font-size: 6vw;
  line-height: 6vw;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}
.container .title-area .title.stroke {
  -webkit-text-stroke: 2px #fff;
  color: transparent;
  font-weight: bold;
}
@media (max-width: 767px) {
  .container .title-area .desc {
    font-size: 16px;
    line-height: 16px;
    margin-top: 16px;
  }
}
.container .listItem {
  position: relative;
}
.container .linkCont {
  display: block;
  background: #d1ed5d;
  cursor: none;
}
.container .linkCont picture {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container .linkCont + .git-link {
  display: block;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 40px;
  height: 40px;
  z-index: 10;
}
@media (max-width: 1024px) {
  .container .linkCont + .git-link {
    width: 30px;
    height: 30px;
    right: 10px;
    top: 10px;
  }
}
@media (max-width: 767px) {
  .container .linkCont + .git-link {
    width: 4vw;
    height: 4vw;
    right: 5px;
    top: 5px;
  }
}
.container .linkCont + .git-link.black svg {
  fill: #000;
}
.container .linkCont + .git-link svg {
  width: 100%;
  height: 100%;
  fill: #fff;
}
.container .info {
  position: absolute;
  bottom: 0;
  left: 50px;
  width: 100%;
  z-index: 5;
  -webkit-transition: opacity 0.35s ease-in-out 0s;
  transition: opacity 0.35s ease-in-out 0s;
  -moz-text-align-last: left;
       text-align-last: left;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  opacity: 0;
}
@media (max-width: 767px) {
  .container .info {
    left: 25px;
  }
}
.container .info.black h3 {
  color: #111;
}
.container .info h3 {
  color: #fff;
  font-family: "Monument Grotesk";
  font-weight: normal;
  font-size: 3vw;
  line-height: 3vw;
  display: inline-block;
  text-indent: -5px;
}
@media (max-width: 1024px) {
  .container .info h3 {
    text-indent: 0;
    font-size: 2vw;
  }
}
@media (max-width: 767px) {
  .container .info h3 {
    font-size: 3vw;
  }
}
.container .info h4 {
  color: #d1ed5d;
  font-family: "Monument Grotesk";
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  margin-top: 10px;
}
@media (max-width: 1024px) {
  .container .info h4 {
    font-size: 20px;
    margin-top: 5px;
  }
}
@media (max-width: 767px) {
  .container .info h4 {
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-top: 0;
  }
}
.container .info h4 .mouseHoverDown {
  position: relative;
}
.container .info h4 .mouseHoverDown::before {
  content: "";
  position: absolute;
  bottom: 0%;
  width: 0%;
  left: 0;
  height: 2px;
  background-color: #d1ed5d;
  -webkit-transition: width 0.35s ease-in-out 0s;
  transition: width 0.35s ease-in-out 0s;
}
.container .info h4 .mouseHoverDown:hover::before {
  width: 100%;
}
.container .info .tag-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  z-index: 4;
  margin-top: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 1024px) {
  .container .info .tag-box {
    display: none;
  }
}
.container .info .tag-box .tag {
  display: inline-block;
  font-size: 16px;
  color: #fff;
  font-weight: 300;
}
.container .sc-visual {
  position: relative;
  margin-top: calc(30vh - 8vw);
  z-index: 6;
}
.container .sc-visual .inner {
  width: 75vw;
  padding: 0;
  margin: 0 auto;
}
.container .sc-visual .title-area .title {
  font-size: 8vw;
  line-height: 8vw;
}
@media (max-width: 767px) {
  .container .sc-visual .title-area .title {
    font-size: 9vw;
    line-height: 9vw;
  }
}
.container .sc-visual .title-area .title:last-child {
  -webkit-text-stroke: 2px #d1ed5d;
  color: transparent;
}
.container .sc-visual .desc {
  color: #fff;
  width: 28.125vw;
  font-family: "Pretendard", "sans-serif";
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
  margin-top: 20vh;
  margin-bottom: 5vh;
}
@media (max-width: 1024px) {
  .container .sc-visual .desc {
    margin-top: 40vh;
    width: 100%;
    font-size: 24px;
    line-height: 35px;
  }
}
@media (max-width: 767px) {
  .container .sc-visual .desc {
    margin-top: 30vh;
    width: 100%;
    font-size: 20px;
    line-height: 30px;
  }
}
.container .sc-visual .img-wrap {
  position: absolute;
  top: 5vh;
  left: 40vw;
  width: 31.25vw;
  height: 46.875vw;
  display: block;
  z-index: -1;
  overflow: hidden;
  background-color: #d1ed5d;
}
.container .sc-visual .img-wrap picture {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container .sc-visual .img-wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container .sc-selected {
  margin-top: 12.5vw;
}
.container .sc-selected .title-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container .sc-selected .title-area .title.fill {
  line-height: 9vw;
}
.container .sc-selected .desc {
  position: relative;
  display: block;
  color: #d1ed5d;
  font-family: "Monument Grotesk";
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -webkit-transform: translateY(10vh);
          transform: translateY(10vh);
}
@media (max-width: 1024px) {
  .container .sc-selected .desc {
    font-size: 20px;
    line-height: 20px;
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  .container .sc-selected .desc {
    font-size: 16px;
    line-height: 16px;
  }
}
.container .sc-selected .select-top {
  margin: 12.5vw 0;
}
@media (max-width: 1024px) {
  .container .sc-selected .select-top {
    margin: 20vw 0 12.5vw;
  }
}
@media (max-width: 767px) {
  .container .sc-selected .select-top {
    margin: 25vw 0;
  }
}
.container .sc-selected .select-top .inner {
  position: relative;
  width: 87.5vw;
  margin: 0vw auto;
}
@media (max-width: 767px) {
  .container .sc-selected .select-top .inner {
    width: 100%;
  }
}
.container .sc-selected .select-top .inner .full {
  margin: 12.5vw 0;
}
@media (max-width: 767px) {
  .container .sc-selected .select-top .inner .full {
    margin: 25vw 0 12.5vw;
  }
}
.container .sc-selected .select-top .inner .linkCont img,
.container .sc-selected .select-top .inner .linkCont video {
  width: 100%;
  height: 650px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1024px) {
  .container .sc-selected .select-top .inner .linkCont img,
  .container .sc-selected .select-top .inner .linkCont video {
    height: 50vw;
  }
}
.container .sc-selected .select-bottom {
  margin: 6.25vw 0;
}
.container .sc-selected .select-bottom .inner .group-area {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 6.25vw;
  gap: 6.25vw;
  width: 100%;
  height: auto;
}
.container .sc-selected .select-bottom .inner .listItem:first-child {
  margin-top: 6.25vw;
}
.container .sc-selected .select-bottom .inner .listItem:last-child {
  margin-top: 12.5vw;
}
.container .sc-selected .select-bottom .inner .listItem .content {
  position: relative;
}
.container .sc-selected .select-bottom .inner .listItem .content .linkCont {
  position: relative;
  padding-bottom: 130%;
}
.container .sc-selected .select-bottom .inner .listItem .content .linkCont picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container .sc-selected .select-bottom .inner .listItem .content .linkCont img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(1);
          filter: brightness(1);
}
.container .sc-selected .select-bottom .inner .listItem .content .info {
  left: -1.875vw;
}
.container .sc-selected .two-cols {
  position: relative;
  width: 100vw;
  height: auto;
  margin: 12.5vw 0 6.25vw 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767px) {
  .container .sc-selected .two-cols {
    margin-bottom: 0;
  }
}
.container .sc-selected .two-cols .group-area {
  position: relative;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 6.25vw auto auto 6.25vw;
  grid-gap: 6.25vw;
  gap: 6.25vw;
}
.container .sc-selected .two-cols .group-area .listItem {
  position: relative;
  width: 100%;
  height: auto;
}
.container .sc-selected .two-cols .group-area .listItem:first-child {
  margin-top: 6.25vw;
  grid-column: 2/span 1;
}
.container .sc-selected .two-cols .group-area .listItem:last-child {
  grid-column: 3/span 1;
}
.container .sc-selected .two-cols .group-area .listItem .content {
  position: relative;
  width: 100%;
  height: auto;
  text-decoration: none;
  display: block;
}
.container .sc-selected .two-cols .group-area .listItem .content .linkCont {
  position: relative;
  padding-bottom: 130%;
}
.container .sc-selected .two-cols .group-area .listItem .content .linkCont picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container .sc-selected .two-cols .group-area .listItem .content .linkCont img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1024px) {
  .container .sc-selected .two-cols .group-area .listItem .info {
    left: 20px;
  }
}
@media (max-width: 767px) {
  .container .sc-selected .two-cols .group-area .listItem .info {
    left: 10px;
  }
}
.container .sc-framework {
  position: relative;
  width: 100vw;
  height: auto;
  margin: 6.25vw 0;
}
@media (max-width: 767px) {
  .container .sc-framework {
    margin-top: 0;
  }
}
.container .sc-framework .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12.5vw;
}
.container .sc-framework .title-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.container .sc-framework .title-area .desc {
  position: relative;
  display: block;
  color: #d1ed5d;
  font-family: "Monument Grotesk";
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -webkit-transform: translateY(10vh);
          transform: translateY(10vh);
  text-align: right;
}
@media (max-width: 1024px) {
  .container .sc-framework .title-area .desc {
    font-size: 20px;
    line-height: 20px;
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  .container .sc-framework .title-area .desc {
    font-size: 16px;
    line-height: 16px;
  }
}
@media (max-width: 1024px) {
  .container .sc-framework .one-cols {
    margin-top: 10vw;
  }
}
@media (max-width: 480px) {
  .container .sc-framework .one-cols {
    margin-top: 20vw;
  }
}
.container .sc-framework .one-cols .group-area {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 6.25vw;
  gap: 6.25vw;
  width: 100%;
  height: auto;
}
.container .sc-framework .one-cols .listItem {
  position: relative;
}
.container .sc-framework .one-cols .listItem:first-child {
  margin-top: 6.25vw;
}
.container .sc-framework .one-cols .listItem:first-child img {
  -o-object-position: 97.5%;
     object-position: 97.5%;
}
.container .sc-framework .one-cols .listItem:last-child {
  margin-top: 12.5vw;
}
.container .sc-framework .one-cols .listItem .content {
  position: relative;
}
.container .sc-framework .one-cols .listItem .content .linkCont {
  position: relative;
  padding-bottom: 130%;
}
.container .sc-framework .one-cols .listItem .content .linkCont picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container .sc-framework .one-cols .listItem .content .linkCont img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container .sc-framework .one-cols .listItem .content .info {
  left: -1.875vw;
}
.container .sc-framework .two-cols .group-area {
  position: relative;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 6.25vw auto auto 6.25vw;
  grid-gap: 6.25vw;
  gap: 6.25vw;
}
.container .sc-framework .two-cols .listItem {
  position: relative;
  width: 100%;
  height: auto;
}
.container .sc-framework .two-cols .listItem:first-child {
  margin-top: 6.25vw;
  grid-column: 2/span 1;
}
.container .sc-framework .two-cols .listItem:last-child {
  grid-column: 3/span 1;
}
.container .sc-framework .two-cols .listItem .content {
  position: relative;
  width: 100%;
  height: auto;
  text-decoration: none;
  display: block;
}
.container .sc-framework .two-cols .listItem .content .linkCont {
  position: relative;
  padding-bottom: 130%;
}
.container .sc-framework .two-cols .listItem .content .linkCont picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container .sc-framework .two-cols .listItem .content .linkCont img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1024px) {
  .container .sc-framework .two-cols .listItem .content .info {
    left: 20px;
  }
}
@media (max-width: 767px) {
  .container .sc-framework .two-cols .listItem .content .info {
    left: 10px;
  }
}
@media (max-width: 767px) {
  .container .sc-framework .three-col {
    margin-top: 10vw;
  }
}
.container .sc-framework .three-col .inner {
  padding: 0;
}
.container .sc-framework .three-col .listItem {
  position: relative;
  width: 75vw;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .container .sc-framework .three-col .listItem {
    width: 100%;
  }
}
.container .sc-framework .three-col .img-wrap img {
  width: 100%;
  height: 650px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1024px) {
  .container .sc-framework .three-col .img-wrap img {
    height: auto;
  }
}
.container .sc-introduce {
  position: relative;
  width: 100vw;
  height: 100vh;
  text-align: left;
  padding-bottom: 0;
}
@media (max-width: 1024px) {
  .container .sc-introduce {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 90vh;
  }
}
@media (max-width: 767px) {
  .container .sc-introduce {
    height: 75vh;
  }
}
@media (max-width: 480px) {
  .container .sc-introduce {
    height: 50vh;
  }
}
.container .sc-introduce .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4rem;
}
@media (max-width: 767px) {
  .container .sc-introduce .inner {
    gap: 0;
  }
}
.container .sc-introduce .text-big {
  color: #fff;
  font-family: "Pretendard", sans-serif;
  font-weight: normal;
  font-size: 4vw;
  line-height: 4.75vw;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}
.container .sc-introduce .text-scroll {
  position: relative;
  padding-top: 7rem;
}
@media (max-width: 1024px) {
  .container .sc-introduce .text-scroll {
    padding-top: 0;
  }
}
.container .sc-introduce .text-scroll a {
  position: relative;
  display: block;
  color: #d1ed5d;
  font-family: "Monument Grotesk";
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -webkit-transform: translateY(10vh);
          transform: translateY(10vh);
  text-decoration: none;
}
@media (max-width: 767px) {
  .container .sc-introduce .text-scroll a {
    font-size: 14px;
    line-height: 14px;
  }
}
.container .sc-textslide {
  position: relative;
  width: 100vw;
  height: auto;
  margin-bottom: 12.5vw;
  text-align: right;
  padding-bottom: 0;
}
.container .sc-textslide .title-area .title {
  font-family: "Pretendard", sans-serif;
  font-size: 5vw;
  font-weight: 700;
  -webkit-text-stroke: 2px #6d6d6d;
  color: transparent;
  font-weight: bold;
  line-height: 7vw;
}
.container .sc-textslide .inner {
  position: relative;
}
.container .sc-textslide .inner .content {
  margin-top: 12.5vw;
}
@media (max-width: 767px) {
  .container .sc-textslide .inner .content {
    margin-top: 25vw;
  }
}
.container .sc-textslide .inner .content img,
.container .sc-textslide .inner .content video {
  width: 100%;
  height: 650px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1024px) {
  .container .sc-textslide .inner .content img,
  .container .sc-textslide .inner .content video {
    height: auto;
  }
}
.container .sc-marquee {
  overflow: hidden;
  padding-top: 9.375vw;
}
@media (max-width: 767px) {
  .container .sc-marquee {
    margin-top: 25vw;
  }
}
.container .sc-marquee .horizontal-marquees {
  font-size: 10vw;
  line-height: 10vw;
  color: transparent;
  -webkit-text-stroke: 2px #fff;
  -webkit-font-smoothing: antialiased;
  white-space: nowrap;
  font-family: "Pretendard", sans-serif;
  font-weight: bold;
}
.container .sc-marquee .one {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.container .sc-marquee .two {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.container .sc-marquee .two .horizontal-marquees {
  color: white;
  font-family: "Pretendard", sans-serif;
  font-size: 10vw;
  font-weight: bold;
}
.container .sc-marquee .three {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transform: translateX(-60%);
          transform: translateX(-60%);
}
.container .sc-insights .title-area {
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 3.125vw;
}
.container .sc-insights .title-area .title-wrap {
  padding-top: 9.375vw;
}
@media (max-width: 767px) {
  .container .sc-insights .title-area .title.fill {
    line-height: 9vw;
  }
}
.container .sc-insights .insights-list {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 9.375vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 100%));
}
@media (max-width: 1024px) {
  .container .sc-insights .insights-list {
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    padding-top: 25vw;
  }
}
@media (max-width: 767px) {
  .container .sc-insights .insights-list {
    padding-top: 35vw;
  }
}
@media (max-width: 480px) {
  .container .sc-insights .insights-list {
    padding-top: 25vw;
  }
}
.container .sc-insights .insights-list li {
  position: relative;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container .sc-insights .insights-list li p {
  color: #fff;
  font-family: "Monument Grotesk";
  font-weight: normal;
  font-size: 3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
@media (max-width: 1024px) {
  .container .sc-insights .insights-list li p {
    font-size: 5vw;
  }
}
.container .sc-insights .insights-list li .text-wrap {
  position: relative;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.container .sc-insights .insights-list li .text-wrap h3 {
  position: relative;
  color: transparent;
  font-family: "Monument Grotesk";
  font-weight: normal;
  font-size: 8vw;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 2px #d1ed5d;
}
.container .sc-insights .insights-list li .text-wrap h3 span {
  -webkit-transition: opacity 3s;
  transition: opacity 3s;
  opacity: 0;
}
.container .sc-insights .insights-list li .text-wrap h3 span.opacity {
  opacity: 1;
}
.container .text-scroll {
  position: relative;
}
.container .text-scroll a {
  position: relative;
  display: block;
  color: #d1ed5d;
  font-family: "Monument Grotesk";
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  -webkit-transform: translateY(10vh);
          transform: translateY(10vh);
  text-decoration: none;
}
.container .cursor {
  position: fixed;
  bottom: 20px;
  right: 80px;
  width: 20px;
  height: 20px;
  background-color: #d1ed5d;
  border-radius: 100%;
  z-index: 50;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  -webkit-transition-property: background-color, width, height;
  transition-property: background-color, width, height;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.container .cursor.scale {
  width: 40px;
  height: 40px;
}
@media (max-width: 767px) {
  .container .cursor.scale {
    width: 20px;
    height: 20px;
  }
}
.container .cursor.on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 110px;
  height: 110px;
  background-color: transparent;
  border: 2px solid #d1ed5d;
}
@media (max-width: 767px) {
  .container .cursor.on {
    width: 75px;
    height: 75px;
  }
}
.container .cursor.on .pointer {
  opacity: 0;
}
.container .cursor.on .view {
  opacity: 1;
  border-radius: 50%;
}
@media (max-width: 767px) {
  .container .cursor.on .view {
    font-size: 10px;
  }
}
@media (max-width: 767px) {
  .container .cursor {
    display: none;
  }
}
.container .cursor .pointer {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 50%;
  fill: #fff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.container .cursor .view {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  opacity: 0;
  font-size: 12px;
}

.state {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  --width: 0%;
}
.state::before {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--width);
  height: 100%;
  background: #d1ed5d;
  content: "";
}/*# sourceMappingURL=style.css.map */